<!DOCTYPE html>
<html lang="en">
@{
  Layout = null;
}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>401 page</title>
  <link rel="stylesheet" href="~/css/styledenied.css">
</head>

<body>

  <div class="cow">
    <div class="head">
      <div class="face"></div>
    </div>
    <div class="leg b l"></div>
    <div class="leg b r"></div>
    <div class="leg f l"></div>
    <div class="leg f r"></div>
    <div class="tail"></div>
  </div>
  <div class="well"><a class="home-btn" href="/home">Go Home</a></div>
  <div class="text-box">
    <h1>401</h1>
    <p>Xin lỗi, Bạn không thể truy cập ... </p>
    @* <p>Sorry, You don't have access there...</p> *@

  </div>
</body>

</html>