<h2>Đăng ký</h2>
<form method="post">
    <label for="fullname">Họ và tên:</label><br>
    <input type="text" id="fullname" name="fullname" required><br><br>

    <label for="username">Tên đăng nhập:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Mật khẩu:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Đăng ký">
</form>

<p>@ViewBag.Message</p>

<p>Đã có tài khoản? <a href="/Account/Login">Đăng nhập</a></p>
